<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css//styles.css">
    <title>Document</title>
</head>
<body class="">
    <nav class="container md:mb-10" id="nav">
        <div class="relative text-white lg:w-full hidden lg:block z-[999999999999999]">
            <a href="/layout/">
                <img src="../images//The Data Well logo oppo.png" alt="The Data Well Logo" loading="lazy" width="1288" height="1288" decoding="async" data-nimg="1" class="absolute z-[999999999999999] w-24 xl:w-32 right-[16px] top-[30px] lg:block hidden animate__animated animate__fadeInDown" style="color: transparent;">
            </a>

            <div class="absolute bg-[#D10A22] top-0 left-0 -z-[1]  lg:block h-[72px] lg:w-[70%] xl:w-[60%] 2xl:w-[50%]"></div>
            <ul class="space-x-8 flex text-white">
                <li class="before:w-full ml-20 text-neutral-50 hover:text-white before:bg-white py-6 font-bold tracking-wide before:transition-all hover:transition-all transition-all before:absolute relative before:bottom-4 before:rounded-full before:h-1 before:hover:w-1/2"><a href="/">Home</a></li>
                <li class="false text-neutral-50 hover:text-white before:bg-white py-6 font-bold tracking-wide before:transition-all hover:transition-all transition-all before:absolute relative before:bottom-4 before:rounded-full before:h-1 before:hover:w-1/2"><a href="/">About</a></li>
                <li class="false text-neutral-50 hover:text-white before:bg-white py-6 font-bold tracking-wide before:transition-all hover:transition-all transition-all before:absolute relative before:bottom-4 before:rounded-full before:h-1 before:hover:w-1/2"><a href="/">Services</a></li>
                <li class="false text-neutral-50 hover:text-white before:bg-white py-6 font-bold tracking-wide before:transition-all hover:transition-all transition-all before:absolute relative before:bottom-4 before:rounded-full before:h-1 before:hover:w-1/2"><a href="/">Pricing</a></li>
                <li class="false text-neutral-50 hover:text-white before:bg-white py-6 font-bold tracking-wide before:transition-all hover:transition-all transition-all before:absolute relative before:bottom-4 before:rounded-full before:h-1 before:hover:w-1/2"><a href="/">Contact</a></li>
                <li class="false text-neutral-50 hover:text-white before:bg-white py-6 font-bold tracking-wide before:transition-all hover:transition-all transition-all before:absolute relative before:bottom-4 before:rounded-full before:h-1 before:hover:w-1/2"><a href="/">Blog</a></li>

                <li>
                    <button class="text-white my-6 ml-4 css-1yxmbwk" tabindex="0" type="button">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                            
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                            
                            <g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
                            
                        </svg>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </button>
                </li>

                <li class="relative px-16 py-6 space-x-2 font-bold tracking-wide cursor-pointer loginLi center">
                    <a href="/auth/login" class="flex flex-row items-center">
                    <div class="absolute h-full w-full top-0 left-0 -z-[1] transform -skew-x-[27deg] bg-[#A0081A] logindiv transition-colors duration-500">
                    </div>
                    <div class="flex flex-col">

                    </div>
                    <svg class="w-4 h-4 mr-2 fill-white text-base " focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="HttpsOutlinedIcon"><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9V6zm9 14H6V10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>
                    <span>Login</span>
                    <svg class="w-6 h-6 mr-2 fill-white" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="NavigateNextRoundedIcon"><path d="M9.31 6.71c-.39.39-.39 1.02 0 1.41L13.19 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.72 6.7c-.38-.38-1.02-.38-1.41.01z"></path></svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container" id="hero">
        <div class="w-full md:h-[calc(100vh-96px)] lg:h-[calc(100vh-72px)] flex items-end max-h-[1024px] 2xl:max-h-[1080px] relative">
            <div class="flex paginator">
                <div class="mx-16" id="firstDiv">
                    <div class="py-10 md:my-auto md:flex md:space-x-4 lg:space-x-8 md:between md:items-center md:py-0">
                        <div class=" md:col-start-1 h-full md:w-1/2 mt-8 md:mt-0"
                        >
                            <h1 class="text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl text-center md:text-left font-bold text-gray-800">Earn money through online reselling   
                            </h1>
                            
                            <p class="md:w-8/12 text-base lg:text-lg text-center md:text-left text-gray-500 mt-2 md:mt-4">Offer internet data, VTU services, and utility bill payments to your friends and family and generate a substantial income.
                            </p>
                            
                            <a href="/auth/signup">
                                <button class="px-4 py-2 mt-4 text-sm rounded sm:px-6 sm:py-3 sm:mt-6 md:text-base md:rounded-md lg:px-10 lg:py-4 lg:mt-8 lg:text-lg font-bold text-white transition-colors hover:bg-[#A0081A] bg-[#D10A22] lg:rounded-lg normal-case">Get Started
                                </button>
                            </a>
                        </div>
                        
                        <div class="w-full md:w-1/2 h-60 md:h-full md:min-h-[600px] bg-zinc-200 order-first md:order-last">
                        </div>
                    </div>
                </div>
                
                <div class="mx-16 second hidden" id="secondDiv">
                    <div class="py-10 md:my-auto md:flex md:items-center md:space-x-4 lg:space-x-8 md:between col-center md:py-0">
                        <div class="col-center md:col-start h-full md:w-1/2 mt-8 md:mt-0 animate__animated animate__fadeInLeft">
                            <h1 class="text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl text-center md:text-left font-bold text-gray-800">Stay connected with ease!
                            </h1>
                            
                            <p class="md:w-8/12 text-base lg:text-lg text-center md:text-left text-gray-500 mt-2 md:mt-4">Benefit from significantly reduced prices on internet data plans, airtime top-ups via VTU, and utility bill payments. Plus, you can even convert your airtime to cash. quos.
                            </p>
                            
                            <a href="/auth/signup">
                                <button class="px-4 py-2 mt-4 text-sm rounded sm:px-6 sm:py-3 sm:mt-6 md:text-base md:rounded-md lg:px-10 lg:py-4 lg:mt-8 lg:text-lg font-bold text-white transition-colors hover:bg-[#A0081A] bg-[#D10A22] lg:rounded-lg normal-case">Get Started</button>
                            </a>
                        </div>
                        
                        <div class="w-full md:w-1/2 h-60 md:h-full md:min-h-[600px] bg-zinc-200 order-first md:order-last">
                        </div>
                    
                    </div>
                </div>
            </div>
            
            <div class="md:h-11 flex md:w-20 md:mr-12 absolute bottom-0 right-4">
                <span class="md:-mt-10 md:w-4 cursor-pointer md:h-4 mr-4 rounded-full md:bg-red-500" id="firstButton"></span>
                <span class="md:-mt-10 cursor-pointer md:w-4 md:h-4 rounded-full md:bg-red-200" id="secondButton"></span>
            </div>
        </div>
    </section>

    <section class="mx-auto pt-14 mt-24 md:pt-20 2xl:pt-32 container" id="services">
        <div class="text-center col-center">
            <h6 data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="font-bold text-gray-800 text-2xl lg:text-4xl aos-init aos-animate">Our Services
            </h6>
            <p data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="text-sm sm:text-base md:text-lg text-gray-500 center w-10/12 md:w-8/12 mt-2 md:mt-4 aos-init aos-animate">Here are some of the services we offer</p>
        </div>
        
        <div class="grid items-start sm:grid-cols-2 gap-10 sm:gap-14 md:gap-16 lg:gap-20 mt-10 sm:mt-14 md:mt-16 lg:mt-20">
            <div class="col-center lg:flex-row lg:start-start lg:space-x-8 aos-init aos-animate" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <div class="rounded-full bg-[#D10A22] relative w-20 h-20">
                    <img alt="Data Purchase" loading="lazy" decoding="async" data-nimg="fill" class="p-2" src="../svg/Data Bundle Icon.svg" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                </div>
                
                <div class="mt-4 text-center lg:text-left w-fit lg:mt-4 xl:mt-0">
                    <h6 class="font-bold tracking-wide text-gray-800 text-base lg:text-lg">Data Purchase</h6>
                    
                    <p class="text-gray-500 text-base md:text-lg mt-1 md:mt-2">We offer affordable data plans for all major networks in Nigeria. Stay connected to the internet with our fast and reliable data plans, starting from as low as ₦50.</p>
                </div>
            </div>
            
            <div class="col-center lg:flex-row lg:start-start lg:space-x-8 aos-init aos-animate" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <div class="rounded-full bg-[#D10A22] relative w-20 h-20">
                    <img alt="Airtime Purchase" loading="lazy" decoding="async" data-nimg="fill" class="p-2" src="../svg/Airtime Purchase.svg" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                </div>
                
                <div class="mt-4 text-center lg:text-left w-fit lg:mt-4 xl:mt-0">
                    <h6 class="font-bold tracking-wide text-gray-800 text-base lg:text-lg">Airtime Purchase</h6>
                    
                    <p class="text-gray-500 text-base md:text-lg mt-1 md:mt-2">Top up your mobile phone easily and conveniently on our platform. We offer instant airtime recharge for all networks in Nigeria at a discounted rate.</p>
                </div>
            </div>
            
            <div class="col-center lg:flex-row lg:start-start lg:space-x-8 aos-init aos-animate" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <div class="rounded-full bg-[#D10A22] relative w-20 h-20">
                    <img alt="Bills Payment" loading="lazy" decoding="async" data-nimg="fill" class="p-2" src="../svg/bills payment.svg" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                </div>
                
                <div class="mt-4 text-center lg:text-left w-fit lg:mt-4 xl:mt-0">
                    <h6 class="font-bold tracking-wide text-gray-800 text-base lg:text-lg">Bills Payment</h6>
                    
                    <p class="text-gray-500 text-base md:text-lg mt-1 md:mt-2">Say goodbye to long queues and delays when it comes to bills payment. You can now pay your electricity bills, cable TV bills, and other utility bills on our platform, with just a few clicks.</p>
                </div>
            </div>
            
            <div class="col-center lg:flex-row lg:start-start lg:space-x-8 aos-init aos-animate" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                <div class="rounded-full bg-[#D10A22] relative w-20 h-20">
                    <img alt="Airtime to Cash Conversion" loading="lazy" decoding="async" data-nimg="fill" class="p-2" src="../svg/Airtime to Cash icon.svg" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                </div>
                
                <div class="mt-4 text-center lg:text-left w-fit lg:mt-4 xl:mt-0">
                    <h6 class="font-bold tracking-wide text-gray-800 text-base lg:text-lg">Airtime to Cash Conversion</h6>
                    
                    <p class="text-gray-500 text-base md:text-lg mt-1 md:mt-2">Do you have excess airtime that you want to convert to cash? Look no further, as our platform offers a seamless and affordable way to convert airtime to cash. Get instant cash in your bank account in no time.</p>
                </div>
            </div>
        </div>
        
        <div class="text-center my-14 md:my-20 2xl:my-32 aos-init" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
            <a href="/about#services">
                <button class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium px-4 text-sm normal-case md:px-6 lg:px-8 md:text-base rouned-xl text-primary border-primary hover:border-transparent hover:bg-primary hover:text-white css-79xub" tabindex="0" type="button">View All Services
                    <span class="MuiButton-endIcon MuiButton-iconSizeMedium css-1n4a93h">
                        <svg width="20px" height="20px" class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="EastIcon"><path d="m15 5-1.41 1.41L18.17 11H2v2h16.17l-4.59 4.59L15 19l7-7-7-7z"></path>
                        </svg>
                    </span>
                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                </button>
            </a>
        </div>
    </section>

    <section id="articles" class="container mx-auto bg-gray-100 py-14 md:py-20 2xl:py-32 ">
        <div class=" col-center container mx-auto">

        <div class="space-y-4 text-center w-fit col-center">
            <h2 class="font-sans text-2xl font-bold text-gray-800 lg:text-4xl aos-init aos-animate" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">Top Articles</h2>
        </div>
        
        <div class="grid mt-6 sm:grid-cols-2 lg:grid-cols-3 sm:mt-10 md:mt-14 lg:mt-20 sm:gap-x-10 md:gap-x-14 lg:gap-x-14 xl:gap-x-16 2xl:gap-x-20 gap-y-6 sm:gap-y-10 md:gap-y-14 lg:gap-y-28 auto-rows-auto">
            
            <a href="/blog/Cheaper_Data_Bundle_now_available_for_University_Students">
                <div data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="h-full aos-init aos-animate">
                    <div class="md:flex-none h-full overflow-hidden transition-shadow bg-gray-200 rounded-md hover:shadow-md">
                        <img alt="Cheaper Data Bundle now available for University Students" loading="lazy" width="150" height="150" decoding="async" data-nimg="1" class="w-full h-40 object-cover object-center md:w-full sm:h-48" src="../images/Cheaper_Data_Bundle_now_available_for_University_Students.webp">
                        
                        <div class="w-full h-[calc(100%-160px)] md:w-full px-4 py-6 xl:py-8 space-y-1.5 md:space-y-3 col-between sm:h-[calc(100%-192px)] order-first md:order-last">
                            <h4 class="text-base font-bold text-gray-800 md:text-lg">Cheaper Data Bundle now available for University Students</h4>
                            
                            <div class="space-x-4 start flex">
                                <h4 class="text-xs font-medium flex text-gray-600 md:text-sm">
                                    <svg width="18px" height="18px" class=" text-base mr-2 text-gray-500 bg-gray-200" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AccessTimeIcon">
                                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                                    </svg> 3 months ago
                                </h4>
                                
                                <h4 class="text-xs font-medium flex text-gray-600 md:text-sm">
                                    <svg width="18px" height="18px" class=" text-base mr-2 text-gray-500 bg-gray-200 css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CommentOutlinedIcon">
                                        <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM20 4v13.17L18.83 16H4V4h16zM6 12h12v2H6zm0-3h12v2H6zm0-3h12v2H6z"></path>
                                    </svg> 0
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/blog/Stay_Connected_During_the_Elections_with_Cheaper_MTN_Data_Bundles">
                <div data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="h-full aos-init aos-animate">
                    <div class="between-start md:flex-col md:flex-none h-full overflow-hidden transition-shadow bg-gray-200 rounded-md hover:shadow-md">
                        <img alt="Stay Connected During the Elections with Cheaper MTN Data Bundles" loading="lazy" width="150" height="150" decoding="async" data-nimg="1" class="w-1/3 h-full object-cover object-center md:w-full sm:h-48" src="../images/Stay_Connected_During_the_Elections_with_Cheaper_MTN_Data_Bundles.webp" style="color: transparent;">
                        
                        <div class="w-2/3 h-[calc(100%-112px)] md:w-full px-4 py-6 xl:py-8 space-y-1.5 md:space-y-3 col-between sm:h-[calc(100%-192px)] order-first md:order-last">
                            <h4 class="text-base font-bold text-gray-800 md:text-lg">Stay Connected During the Elections with Cheaper MTN Data Bundles</h4>
                            
                            <div class="space-x-4 start flex ">
                                <h4 class="text-xs font-medium flex text-gray-600 md:text-sm">
                                    <svg width="18px" height="18px" class=" text-base mr-2 text-gray-500 bg-gray-200 css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AccessTimeIcon">
                                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                                    </svg> 3 months ago
                                </h4>
                                
                                <h4 class="text-xs font-medium flex text-gray-600 md:text-sm">
                                    <svg width="18px" height="18px" class=" text-base mr-2 text-gray-500 bg-gray-200 css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CommentOutlinedIcon">
                                        <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM20 4v13.17L18.83 16H4V4h16zM6 12h12v2H6zm0-3h12v2H6zm0-3h12v2H6z"></path>
                                    </svg> 0
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            
            <a href="/blog/Stay_Connected_During_the_Elections_with_Cheaper_MTN_Data_Bundles_2">
                <div data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="h-full aos-init aos-animate">
                    <div class="between-start md:flex-col md:flex-none h-full overflow-hidden transition-shadow bg-gray-200 rounded-md hover:shadow-md">
                        <img alt="Stay Connected During the Elections with Cheaper MTN Data Bundles" loading="lazy" width="150" height="150" decoding="async" data-nimg="1" class="w-1/3 h-full object-cover object-center md:w-full sm:h-48" src="../images/Stay_Connected_During_the_Elections_with_Cheaper_MTN_Data_Bundles_2.webp">
                        
                        <div class="w-2/3 h-[calc(100%-112px)] md:w-full px-4 py-6 xl:py-8 space-y-1.5 md:space-y-3 col-between sm:h-[calc(100%-192px)] order-first md:order-last">
                            <h4 class="text-base font-bold text-gray-800 md:text-lg">Stay Connected During the Elections with Cheaper MTN Data Bundles</h4>
                            
                            <div class="space-x-4 start flex ">
                                <h4 class="text-xs font-medium flex text-gray-600 md:text-sm">
                                    <svg width="18px" height="18px" class=" text-base mr-2 text-gray-500 bg-gray-200 css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AccessTimeIcon">
                                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                                    </svg> 3 months ago
                                </h4>
                                
                                <h4 class="text-xs font-medium flex text-gray-600 md:text-sm">
                                    <svg width="18px" height="18px" class=" text-base mr-2 text-gray-500 bg-gray-200 css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CommentOutlinedIcon">
                                        <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM20 4v13.17L18.83 16H4V4h16zM6 12h12v2H6zm0-3h12v2H6zm0-3h12v2H6z"></path>
                                    </svg> 0
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            
            <a href="/blog/Stay_Connected_with_Her_Family_and_Friends_At_Cheaper_Costs">
                <div data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="h-full aos-init aos-animate">
                    <div class="md:flex-none h-full overflow-hidden transition-shadow bg-gray-200 rounded-md hover:shadow-md">
                        <img alt="Stay Connected with Her Family and Friends At Cheaper Costs" loading="lazy" width="150" height="150" decoding="async" data-nimg="1" class="w-full h-40 object-cover object-center md:w-full sm:h-48" src="../images//Stay_Connected_with_Her_Family_and_Friends_At_Cheaper_Costs.webp" style="color: transparent;">
                        
                        <div class="w-full h-[calc(100%-160px)] md:w-full px-4 py-6 xl:py-8 space-y-1.5 md:space-y-3 col-between sm:h-[calc(100%-192px)] order-first md:order-last">
                            <h4 class="text-base font-bold text-gray-800 md:text-lg">Stay Connected with Her Family and Friends At Cheaper Costs</h4>
                            
                            <div class="space-x-4 start flex ">
                                <h4 class="text-xs font-medium flex text-gray-600 md:text-sm">
                                    <svg width="18px" height="18px" class=" text-base mr-2 text-gray-500 bg-gray-200 css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AccessTimeIcon">
                                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                                    </svg> 3 months ago
                                </h4>
                                
                                <h4 class="text-xs font-medium flex text-gray-600 md:text-sm">
                                    <svg width="18px" height="18px" class=" text-base mr-2 text-gray-500 bg-gray-200 css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CommentOutlinedIcon">
                                        <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM20 4v13.17L18.83 16H4V4h16zM6 12h12v2H6zm0-3h12v2H6zm0-3h12v2H6z"></path>
                                    </svg> 0
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/blog/Where_do_business_owners_get_cheaper_data_bundle">
                <div data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="h-full aos-init aos-animate">
                    <div class="between-start md:flex-col md:flex-none h-full overflow-hidden transition-shadow bg-gray-200 rounded-md hover:shadow-md">
                        <img alt="Where do business owners get cheaper data bundle?" loading="lazy" width="150" height="150" decoding="async" data-nimg="1" class="w-1/3 h-full object-cover object-center md:w-full sm:h-48" src="../images/Where_do_business_owners_get_cheaper_data_bundle.webp" style="color: transparent;">
                        
                        <div class="w-2/3 h-[calc(100%-112px)] md:w-full px-4 py-6 xl:py-8 space-y-1.5 md:space-y-3 col-between sm:h-[calc(100%-192px)] order-first md:order-last">
                            <h4 class="text-base font-bold text-gray-800 md:text-lg">Where do business owners get cheaper data bundle?</h4>
                            
                            <div class="space-x-4 start flex">
                                
                                <h4 class="text-xs font-medium flex text-gray-600 md:text-sm">
                                    <svg width="18px" height="18px" class=" text-base mr-2 text-gray-500 bg-gray-200 css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AccessTimeIcon">
                                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                                        <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                                    </svg> 3 months ago
                                </h4>
                                
                                <h4 class="text-xs font-medium flex text-gray-600 md:text-sm">
                                    <svg width="18px" height="18px" class=" text-base mr-2 text-gray-500 bg-gray-200 css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CommentOutlinedIcon">
                                        <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM20 4v13.17L18.83 16H4V4h16zM6 12h12v2H6zm0-3h12v2H6zm0-3h12v2H6z"></path>
                                    </svg> 0
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="mt-20 text-center aos-init aos-animate" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
            
            <a href="/blog" class="flex items-center justify-center">
                <button class="flex items-center px-4 text-sm normal-case md:px-6 lg:px-8 md:text-base rouned-xl text-[#D10A22] border-[#D10A22] border-2 rounded-md hover:border-transparent hover:bg-[#D10A22] hover:text-white space-x-2 space-y-8" tabindex="0" type="button">More
                    <span class="ml-2 -red-500">
                        <svg class="h-4 w-4 fill-current hover:fill-[white]" class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="EastIcon">
                            <path d="m15 5-1.41 1.41L18.17 11H2v2h16.17l-4.59 4.59L15 19l7-7-7-7z"></path>
                        </svg>
                    </span>
                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                </button>
            </a>

        </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const firstButton = document.getElementById("firstButton");
          const secondButton = document.getElementById("secondButton");
          const firstDiv = document.getElementById("firstDiv");
          const secondDiv = document.getElementById("secondDiv");
      
          // Show the second div and hide the first div
          function showSecondDiv() {
            firstDiv.classList.add("hidden");
            firstButton.classList.remove('md:bg-red-500')
            secondDiv.classList.remove("hidden");
            firstButton.classList.add('md:bg-red-200')
            secondButton.classList.remove('md:bg-red-200')
            secondButton.classList.add('md:bg-red-500')
          }
      
          // Show the first div and hide the second div
          function showFirstDiv() {
            firstDiv.classList.remove("hidden");
            firstDiv.classList.remove('bg-red-200')
            secondDiv.classList.add("hidden");
            firstButton.classList.remove('md:bg-red-200')
            secondButton.classList.remove('md:bg-red-500')
            firstButton.classList.add('md:bg-red-500')
            secondButton.classList.add('md:bg-red-200')

          }
      
          // Add click event listeners to the pagination buttons
          firstButton.addEventListener("click", showFirstDiv);
          secondButton.addEventListener("click", showSecondDiv);
        });
      </script>
</body>
</html>